@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Exo", sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: $dark-mode-text;
  @media (min-width: 767px) {
    font-size: 40px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  > * {
    max-width: 1440px;
  }
}

.white-bg {
  background-color: $white-bg;
}

.dark-bg {
  background-color: $dark-bg;
  label {
    color: $dark-mode-text2;
  }
}
